@media only screen and (max-width: 600px) {
  app-upcoming-matches .w-half {
    width: 95% !important;
    margin: 1em auto !important;
  }

  app-upcoming-matches .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    font-size: 11px;
  }

  app-upcoming-matches .p-tabview .p-tabview-nav li .p-tabview-nav-link img {
    position: static;
    width: 20px;
  }

  .google-play-icon-wrapper {
    width: 25px !important;
    height: 25px !important;
  }

  .google-play-icon,
  .i-phone-icon {
    width: 15px !important;
    height: 15px !important;
  }

  .content .c-title {
    font-size: 1rem !important;
  }

}

@media (min-width: 640px) and (max-width: 768px) {
  app-upcoming-matches .p-tabview .p-tabview-nav li .p-tabview-nav-link {
    font-size: 11px;
  }

  app-upcoming-matches .p-tabview .p-tabview-nav li .p-tabview-nav-link img {
    position: static;
    width: 20px;
  }
}
