.p-dialog {
  border-radius: 22px !important;
}

p-dialog .p-dialog-header {
  background: transparent linear-gradient(46deg, #E8B652 0%, #BF335B 100%) 0% 0% no-repeat padding-box !important;
  border-top-right-radius: 22px !important;
  border-top-left-radius: 22px !important;
  color: #fff !important;
  font-size: 24px;
  justify-content: center;
}

p-dialog .p-dialog-footer {
  border-bottom-right-radius: 22px !important;
  border-bottom-left-radius: 22px !important;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
  position: absolute;
  right: 10px !important;
  background: #fff !important;
  width: 1.5rem !important;
  height: 1.51rem !important;
}

.p-dialog .p-dialog-header .pi {
  color: #BF335B !important;
  font-size: 0.7rem !important;
  font-weight: bold !important;
}
